/* todo : legacy, replace with tailwind */
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: rgb(132, 172, 232);
}

a:hover {
  border-bottom: 2px solid rgb(132, 172, 232);
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  height: 100%;
  color: #dddddd;
  background-color: rgb(48, 48, 48);
}
#main {
  display: flex;
  flex: 1;
}
#main > .articles {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

#main > nav,
#main > aside {
  flex: 0 0 20vw;
  /* background: beige; */
}
#main > nav {
  order: -1;
}
header,
footer {
  /* background: yellowgreen; */
  height: 20vh;
  width: 100%;
}
header,
footer,
article,
nav,
aside {
  padding: 1em;
}

article {
  min-height: 160px;
  color: #dddddd;
}

.intro-image {
  width: 500px;
}

.addsByGoogle {
  display: block;
}
