@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply rounded-full py-2 px-3 uppercase font-bold cursor-pointer text-xs tracking-wider bg-slate-600;
}

.baseBlack {
  background-color: #1b1b1e;
}
.baseCard {
  background-color: #242424;
  height: min-content;
  border-style: solid;
  border-width: 1px;
  /* width: 350px; */
  font-size: 1em;
}
.baseWhite {
  color: #ddd;
  font-weight: 900;
}

.settingsCard {
  background-color: #242424;
  border-width: 1px;
  border-top: none;
  font-size: 1em;
}

.baseMid {
  color: #aaa;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.trimmed {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.baseCell {
  background-color: #302f2f;
}

body {
  margin: 0;
  background-color: rgb(16, 16, 16);
  font-family: 'Space Grotesk', sans-serif;
  /* font-style: bold; */
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* body,
input,
select,
textarea {
  font-family: 'DDG_ProximaNova', 'DDG_ProximaNova_UI_0', 'DDG_ProximaNova_UI_1',
    'DDG_ProximaNova_UI_2', 'DDG_ProximaNova_UI_3', 'DDG_ProximaNova_UI_4',
    'DDG_ProximaNova_UI_5', 'DDG_ProximaNova_UI_6', 'Proxima Nova',
    'Helvetica Neue', 'Helvetica', 'Segoe UI', 'Nimbus Sans L',
    'Liberation Sans', 'Open Sans', FreeSans, Arial, sans-serif;
} */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tab-list-item {
  border-width: 0 0 2px 0;
  opacity: 0.6;
}

.chronos {
  border-width: 1.5px 3px 3px 1.5px;
}

.tab-list-active {
  border-width: 2px 1px 0 2px;
  border-radius: 6px 6px 0 0;
  opacity: 1;
}
.list-timers .furniture {
  border-color: hsl(38 92% 40%);
  color: hsl(38 92% 40%);
}
.list-timers .furniture-border {
  border-color: hsl(38 92% 40%);
}

.single-timer .furniture {
  color: rgb(59 130 246);
}

.single-timer .furniture-border {
  border-color: rgb(59 130 246);
}

.img-hor {
  transform: rotateY(180deg);
}

.img-vert {
  transform: rotateX(180deg);
}

.img-hor-vert {
  transform: rotateX(180deg) rotateY(180deg);
}
